<h2 class="line-fat">
	<div class="head-actions">
		<div class="head-actions">
		<a class="head-back-action" href="#" href="#" data-url="/admins/lands" data-element="#stage" data-method="GET">
			<i class="icon-back"></i>
		</a>
		<p>Edit Land</p>
	</div>
	</div>
</h2>
<%= render 'form' %>
