<div class="header">
	  
</div><!-- end. header -->
<div class="navigation">
  <div class="wrapper-top">
    <ul id="menu_top">
      <li class="nav selected first"><a class="dynamic-link" href="#" data-url="/" data-load-element="#stage" data-method="GET">TRANG CHỦ</a></li>
      <li class="nav"><a href="#">GIỚI THIỆU</a></li>
      <li class="nav"><a href="#">HOẠT ĐỘNG</a></li>
      <li class="nav"><a href="#">LĨNH VỰC KHÁC</a></li>
      <li class="nav last"><a href="#">LIÊN HỆ</a></li>
    </ul>
			<div class="search-box">
				<input type="text" size="30" name="questions" value="  "/>
			</div>
  </div>
</div>