<div class="vmenu">
	<h2 class="dash-root"><a class="dynamic-link" data-url="/admins/dashboard/home" data-method="GET" data-element="#stage"><i class="icon-root"></i>dashboard</a></h2>
	<ul class="sub-menu">
		<li class="">
			<a href="#" class="dynamic-link" data-url="/admins/lands" data-method="GET" data-element="#stage"><i class="icon-menu"></i>Land</a>
		</li>
		<li class="">
			<a href="#"><i class="icon-menu"></i>Advisory</a>
		</li>
	</ul>
</div>
