/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require style
 *= require menu
 */
@import "bourbon";

.hidden{
  display: none;
}


@font-face {
  font-family: 'entypo';
  src: url('./entypo/entypo.eot');
  src: url('./entypo/entypo.eot') format('embedded-opentype'),
    url('./entypo/entypo.woff') format('woff'),
    url('./entypo/entypo.ttf') format('truetype'),
    url('./entypo/entypo.svg#Entypo Social') format('svg');
  font-weight: normal;
  font-style: normal;
}

.entypo-icon{
  font-family: 'entypo';
  display: inline-block;
  text-align: center;
  font-size: 31px;
  height: 35px;
  text-align: center;
  width: 24px;
}

div.inner-container{
  @inclue clearfix;
  
  div#left_banner{
    width: 180px;
    float: left;
    display: block;
  }
  div.middle-container{
    float: left;
    display: block;
    width: 570px;
    @include clearfix;
    div#stage{
      float: left;
      display: block;
      width: 570px;
      float: left;
      display: block;
      position: relative;
    }  
    
    div.divider{
      float: left;
      display: block;
      background: url("/assets/divider.png") no-repeat scroll 0 0 transparent;
      width: 570px;
      height: 45px;
    }    
    
    div.trademarks{
      float: left;
      display: block;
      width: 570px;
    }
  }
  
  div#right_banner{
    width: 180px;
    float: left;
    display: block;
  }
}



div.host-items{
  width: 570px;
  height: 320px;
  @include clearfix;
  padding: 0px 5px;
  
  div.loading-container{
      float: left;
      margin-top: 125px;
      margin-left: 0px;
      width: 30px;
      height: 36px;
  }

  div.item{
    width: 250px;
    height: 180px;
    border: 1px solid #ccc;
    @include linear-gradient(#fff, #EBEBEB);
    @include box-shadow(0px 1px 1px #ccc);  
    margin: 50px 0px 0px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    float: left;
    display: block;
    
    
    
    div.content{
      width: 100%;
      position: relative;
      h2{
        font-size: 32px;
        font-weight: bold;
        padding: 20px 0 0;
        text-align: center;
      }
      
      i.entypo-icon{
        position: absolute;
        font-size: 11em;
        top: -25px;
        left: 78px;
      }
    }
  }

}

.drop-shadow {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 2em 0.5em 5em;
    padding: 1em;
    position: relative;
}


div.base-box{
  width: 178px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 3px;
  h3{
    @include linear-gradient(to bottom, #44C5EC, #259BDB);
    border-bottom-color: #1C638F;
    border-top-color: #6AD2EF;
    color: white;
    font-weight: bold;
    padding: 5px 0;
    text-align: center;
  }
  p{
    text-align: center;
    color: #CC0000;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
    text-align: center;
  }
}

div.nav-wrapper{
  width: 180px;
  h2{
    width: 181px;
    @include linear-gradient(to bottom, #44C5EC, #259BDB);
    padding: 10px 0;
    color: white;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    @include box-shadow(3px 1px 3px #ccc);
    border-bottom: 1px solid #1C638F;
    text-align: center;
  }  
}

div.supports{
  height: 160px;
  a{
    padding: 5px 0px 0px 20px;
  }
}

div#page-wrap{
  position: relative;
  
  div#feed_back{
    position:fixed;
    background: blue;
    width: 20px;
    height: 50px;
    a{
      
    }
  }
}

div.list-items{
  @include clearfix;
  padding: 10px 15px 0px 15px;
  div.item{
    float: left;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #BBBBBB;
    width: 244px;
    height: 280px;
    margin: 20px 5px 10px 15px;
    &:hover{
      border: 1px solid #f0ad00;
      box-shadow: 0 0 5px #ffd057;
      cursor: pointer;
    }
    
    div.item-img{
      width: 242px;
      height: 180px;
      background: #f3f2f2;
    }
    
    div.item-info{
      @include clearfix;
      height: 100px;
      div.title{
        float: left;
        color: #83C5D8;
      }
      div.description{
        float: left;
        color: #666;
      }
      div.item-footer{
        
      }
    }
  }
}
