/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
@import "bourbon";

div.main-data{
   padding: 10px 0px; 
}

.formtastic .text{
  label{
    text-align: right;
    padding-right: 10px;
  }
  textarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 2px #BBBBBB inset;
    height: 100px !important;
    margin-left: 115px;
    width: 310px !important;
    &:focus {
          border-color: #46aefe;
          outline: none;
          @include box-shadow(inset 0 1px 2px rgba(black, .1),
                              0 0 5px #46aefe);
    }
  }
}

form.base-form{
  border: 1px solid #CCCCCC;
  border-radius: 5px 5px 5px 5px;
  margin: 0 auto;
  padding: 10px 20px;
  width: 440px;
  box-shadow: 1px 1px 5px 1px #CCCCCC;
  fieldset.inputs{
    ol{
      li.string, li.number, li.file{
        padding: 5px 0px;
        label{
          color: #666;
          text-align: right;
          padding-right: 10px;
          float: left;
        }
        
        
        input[type="text"], input[type="number"]{
          float: left;
          padding-left: 8px;
          height: 20px;
          color: #525864;
          background: white;
          border: 1px solid;
          width: 300px;
          border-color: #b3c0e2 #bcc5e2 #c0ccea;
          border-radius: 4px;
          @include linear-gradient(top, #f6f8fa, white);
          @include box-shadow(inset 0 1px 2px rgba(black, .1),
                              0 1px rgba(white, .5));
          &:focus {
          border-color: #46aefe;
          outline: none;
          @include box-shadow(inset 0 1px 2px rgba(black, .1),
                              0 0 5px #46aefe);
          }
        }
        
        
      }
      li.map-google{
        margin-bottom: 10px;
        width: 310px;
        margin-left: 115px;
        div#geopoint_search_box_container{
          width: 310px;
          margin-bottom: 5px;
        }
        div#map_canvas{
          width: 310px;
        }
      }
      
      li.radio{
        fieldset.choices{
          legend.label label{
            left: 45px;
          }
          ol.choices-group{
            padding-left: 110px;
            width: 310px;
          }
        }
      }
    }
  }
  
  fieldset.actions{
    padding-left: 33%;
    ol{
      li{
        input{
          @include button(pill, #0e4781);
          
        }
      }
    }
  }
}
